{% load static %}



<footer class="footer-area section-gap">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 single-footer-widget">
    <h4>Xəbərlər</h4>
    <ul>
    <li><a href="#">Biznes</a></li>
    <li><a href="#">Elm və Texnologiya</a></li>
    <li><a href="#">Dizayn və İnnovasiya</a></li>
    <li><a href="#">İncəsənət və Mədəniyyət</a></li>
    </ul>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
    <h4>Mövzular</h4>
    <ul>
    <li><a href="#">Marketinq</a></li>
    <li><a href="#">Brend hekayələri</a></li>
    <li><a href="#">İnsan resursları</a></li>
    <li><a href="#">Logistika</a></li>
    <li><a href="#">Sağlamlıq</a></li>
    </ul>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
    <h4>Kariyera</h4>
    <ul>
        <li><a href="#">Müəllifimiz ol</a></li>
    <li><a href="#">İş elanları</a></li>
    <li><a href="#">Elanını yayınla</a></li>
    <li><a href="#">CV yarat</a></li>
    </ul>
    </div>
    <div class="col-lg-2 col-md-6 single-footer-widget">
    <h4>İşgüzar</h4>
    <ul>
    <li><a href="#">Haqqımızda</a></li>
    <li><a href="/author">Müəlliflər</a></li>
    <li><a href="#">Əlaqə</a></li>
    <li><a href="#">Reklam</a></li>
    </ul>

    
    </div>


    <!-- <div class="col-lg-3 col-md-6 single-footer-widget">
    <h4>sdfsdfsef</h4>
    <ul class="instafeed d-flex flex-wrap">
    <li><img src="{% static 'images/i1.jpg' %}" alt="" data-pagespeed-url-hash="2811051271" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src="{% static 'images/i2.jpg' %} " alt="" data-pagespeed-url-hash="3105551192" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i3.jpg' %} " alt="" data-pagespeed-url-hash="3400051113" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i4.jpg' %} " alt="" data-pagespeed-url-hash="3694551034" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i5.jpg' %} " alt="" data-pagespeed-url-hash="3989050955" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i6.jpg' %} " alt="" data-pagespeed-url-hash="4283550876" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i7.jpg' %} " alt="" data-pagespeed-url-hash="283083501" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    <li><img src=" {% static 'images/i8.jpg' %} " alt="" data-pagespeed-url-hash="577583422" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></li>
    </ul>
    </div> -->
    </div>
    <div class="footer-bottom row align-items-center">
    <p class="footer-text m-0 col-lg-8 col-md-12">
    Bütün müəllif hüquqları qorunur © <script>document.write(new Date().getFullYear());</script> isguzar.az | <i class="fa fa-heart-o" aria-hidden="true"></i>   <a href="#" target="_blank">   </a>
    </p>
    <div class="col-lg-4 col-md-12 footer-social">
    <a href="#"><i style="color: white !important;" class="fa fa-facebook"></i></a>
    <a href="#"><i style="color: white !important;" class="fa fa-linkedin"></i></a>
    <a href="#"><i style="color: white !important;" class="fa fa-telegram"></i></a>
    <a href="#"><i style="color: white !important;" class="fa fa-instagram"></i></a>
    <a href="#"><i style="color: white !important;" class="fa fa-twitter"></i></a>
    </div>
    </div>
    </div>
    </footer>