


  



{% load static %}
   




{% block right_part %}




<div class="col-lg-4">
    <div class="sidebars-area">



        <div class="single-sidebar-widget most-popular-widget">
            <h6 class="title">Uğur Hekayələri</h6>

            {% for i in last7_brend %}
            <div class="single-list flex-row d-flex">
            <div class="thumb">
            <img style="width: 170px; height: 110px;" src="{{ i.image.url }}" alt="" data-pagespeed-url-hash="2510187219" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="details">
            <a href="{{i.get_absolute_url}}">
            <h6 style="color: black; font-size: 14px;" >{{ i.title|truncatechars:40 }}</h6>
            </a>
            <ul class="meta">
                <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{i.owner}}</a></li>
                <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{i.created_at|date:"d M Y"}}</a></li>
                </ul>
            </div>
            </div>
            {% endfor %}
            
          
            </div>




            

    <div class="single-sidebar-widget newsletter-widget">
        <h6 class="title">Bizə Qoşulun</h6>
        {% if submitted %}
        <p class="success">
            Gonderdin gaga
        </p>{% else %}
        <form action="" method="POST">
            {% csrf_token %}


        <div style="height: 300px; width: 319px; background-color: #27aaeb;">
            <h6 style="color: white; text-align: center; font-size: 30px; padding-top: 5px; text-shadow: 1px 1px rgb(85, 83, 83);">İşgüzar Büllüten</h6>
            <i style="margin-left: 100px; font-size: 110px; color: white; margin-top: 10px;" class="fa-solid fa-envelope"></i>
            <p class="authortitle" style="text-align: center; color: white; font-size: 18px; margin-left: 5px; margin-right: 5px; margin-top: -5px;">Qeydiyyatdan keçin son xəbərlərdən və karyera elanlarından xəbərdar olun</p>
            <!-- <input type="text"> -->
            <div style="display: flex; margin-left: 12px; margin-right: 12px;">
            {{form.email}}         
            
            <button style="height: 40px; background-color: #0b5ca4;" type="submit" class="primary-btn text-uppercase"> Göndər</button>
        </div>
        </div>
        {% endif %}

        </form>

        {% for message in messages %}
        
        <p class="text-success">{{message}}</p>        

        
        {% endfor %}










        
        </div>


        <hr>


    <a href="/tobe_author">
    <div class="single-sidebar-widget ads-widget">
    <img class="img-fluid" src="{% static 'images/SəndəYaz.png' %}" alt="" data-pagespeed-url-hash="3321942762" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
</a>
    
<hr>
    
    
    
  

    <div class="single-sidebar-widget social-network-widget">
    <h6 class="title">Bizi İzləyin</h6>
    <ul class="social-list">
    <li class="d-flex justify-content-between align-items-center fb">
    <div class="icons d-flex flex-row align-items-center">
        <i class="socialicon fa-brands fa-facebook"  aria-hidden="true"></i> 
           <p>983 Bəyənmə</p>
    </div>
    <a href="#">Səhifəni bəyən</a>
    </li>
    <li class="d-flex justify-content-between align-items-center tw">
    <div class="icons d-flex flex-row align-items-center">
        <i class="socialicon fa-brands fa-linkedin" aria-hidden="true"></i>
    <p>983 İzləyici</p>
    </div>
    <a href="#">Bizi izlə</a>
    </li>
    <li class="d-flex justify-content-between align-items-center yt">
    <div class="icons d-flex flex-row align-items-center">
    <i class="socialicon fa-brands fa-telegram" aria-hidden="true"></i>
    <p>983 Abunəçi</p>
    </div>
    <a href="#">Abunə ol</a>
    </li>

    <li class="d-flex justify-content-between align-items-center yt">
        <div class="icons d-flex flex-row align-items-center">
            <i class="socialicon fa-brands fa-instagram" aria-hidden="true"></i>
        <p>983 Abunəçi</p>
        </div>
        <a href="#">Abunə ol</a>
        </li>

    <li class="d-flex justify-content-between align-items-center yt">
        <div class="icons d-flex flex-row align-items-center">
            <i class="socialicon fa-brands fa-twitter-square" aria-hidden="true" ></i>
        <p>983 Abunəçi</p>
        </div>
        <a href="#">Abunə ol</a>
        </li>
    

    </ul>
    </div>









    <div class="single-sidebar-widget most-popular-widget">
        <h6 class="title">Kitab Xülasələri</h6>

        {% for i in last5_success %}
        <div class="single-list flex-row d-flex">
        <div class="thumb">
        <img style="width: 170px; height: 110px;" src="{{ i.image.url }}" alt="" data-pagespeed-url-hash="2510187219" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        <div class="details">
        <a href="{{i.get_absolute_url}}">
        <h6 style="color: black; font-size: 14px;" >{{ i.title|truncatechars:50 }}</h6>
        </a>
        <ul class="meta">
            <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{i.owner}}</a></li>
            <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{i.created_at|date:"d M Y"}}</a></li>
            </ul>
        </div>
        </div>
        {% endfor %}
        
      
        </div>


<hr>
        <a href="/contact">
            <div class="single-sidebar-widget ads-widget">
            <img class="img-fluid" src="{% static 'images/yazar.png' %}" alt="" data-pagespeed-url-hash="3321942762" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
        </a>

    </div>
    </div>


 {% endblock %}   