{% extends "base.html" %}


{% load static %}
   




{% block content %}


<div class="container">
    <form method="POST">

        {% csrf_token %}


    <h1 style="text-align: center; margin-top: 5px;">Yazarımız ol!</h1>
        {{ form.name_surname }}
    <!-- <input style="margin-top: 15px;" name="name" placeholder="Ad ve Soyad" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Ad ve Soyad&#39;" class="common-input mb-20 form-control" required="" type="text"> -->

    {{ form.mail }}
    <!-- <input name="name" placeholder="E-Mail adres" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;E-Mail adres&#39;" class="common-input mb-20 form-control" required="" type="text"> -->


    {{ form.phono }}
    <!-- <input name="name" placeholder="Telefon" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Telefon&#39;" class="common-input mb-20 form-control" required="" type="text"> -->


        {{form.working_status}}
    <!-- <select style="margin-bottom: 15px;" class="custom-select" id="inputGroupSelect01">
        <option selected>Iş vəiyyətiniz</option>
        <option value="1">Sektordayam</option>
        <option value="2">Tələbəyəm</option>
        <option value="3">Işləmirəm</option>
      </select> -->
      
    
      {{ form.education_industry }}
    <!-- <input name="name" placeholder="Təhsil və sənayə təcrübəniz'" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Təhsil və sənayə təcrübəniz&#39;" class="common-input mb-20 form-control" required="" type="text"> -->


    {{ form.subjects }}
    <!-- <input name="name" placeholder="Hansı mövzuda yaza bilərsiniz?" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Hansı mövzuda yaza bilərsiniz?&#39;" class="common-input mb-20 form-control" required="" type="text"> -->



    
    <!-- <select style="margin-bottom: 15px;" class="custom-select" id="inputGroupSelect01">
        <option selected>Nə qədər vaxtdan bir məzmun təqdim edə bilərsiniz?</option>
        <option value="1">Həftədə 1-2 məqalə</option>
        <option value="2">Həftədə 3-4 məqalə</option>
        <option value="3">Ayda 1-2 məqalə</option>
      </select> -->

<br>
<!-- <a href="/author">  -->
    
    
<div class="col-lg-12">
    <div class="alert-msg" style="text-align: left;"></div>
   <button type="submit" class="text-white primary-btn text-uppercase "> Göndər </a> </button> 
</div>


<!-- </a> -->
<br>    
</form>

</div>
{% endblock %}
