


  
{% extends "base.html" %}


{% load static %}
   




{% block content %}


<div class="site-main-container">

    <section class="top-post-area pt-10">
    <div class="container no-padding">
    <div class="row">
    <div class="col-lg-12">
    <div class="hero-nav-area">
    <h1 class="text-white">Əlaqə</h1>
    <p class="text-white link-nav"><a href="/home">Ana səhifə </a> <i class="fa-solid fa-angle-right"></i><a href="#">Əlaqə </a></p>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="contact-page-area pt-50 pb-120">
    <div class="container">
    <div class="row contact-wrap">

    <div class="col-lg-3 d-flex flex-column address-wrap">
    <div class="single-contact-address d-flex flex-row">
    <div class="icon">
    <span class="lnr"> <i class="fa-solid fa-house"></i> </span>
    </div>
    <div class="contact-details">
    <h5>Bakı şəhəri </h5>
    <p>
    X küçəsi, x ev
    </p>
    </div>
    </div>
    <div class="single-contact-address d-flex flex-row">
    <div class="icon">
    <span class="lnr "> <i class="fa-solid fa-phone"></i></span>
    </div>
    <div class="contact-details">
    <h5>+xxx(xx) xxx-xx-xx</h5>
    <p>Iş saatı 10:00 - 18:00 arası</p>
    </div>
    </div>
    <div class="single-contact-address d-flex flex-row">
    <div class="icon">
    <span class="lnr "> <i class="fa-solid fa-envelope"></i> </span>
    </div>
    <div class="contact-details">
    <h5>xxxxx@gmai.com</h5>
    <p>Sizi gözləyirik</p>
    </div>
    </div>
    </div>

    {% if submitted %}
    <p class="success">
        Gonderdin gaga
    </p>
    {% else %}
    <div class="col-lg-9">
    <form class="form-area contact-form text-right"  action="" method="POST">
    <div class="row">
    <div class="col-lg-6">

        {% csrf_token %}

        
    {{ form.name }}
    <!-- <input name="name" placeholder="Enter your name" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Enter your name&#39;" class="common-input mb-20 form-control" required="" type="text"> -->

    {{ form.email }}
    <!-- <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Enter email address&#39;" class="common-input mb-20 form-control" required="" type="email"> -->

    {{ form.subject }}
    <!-- <input name="subject" placeholder="Enter subject" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Enter subject&#39;" class="common-input mb-20 form-control" required="" type="text"> -->

    </div>


    <div class="col-lg-6">
        {{ form.messege }}
    <!-- <textarea class="common-textarea form-control" name="message" placeholder="Enter Messege" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Enter Messege&#39;" required=""></textarea> -->
    </div>
{% endif %}

{% for message in messages %}

<p class="text-success" style="margin-left: 17px;">{{message}}</p>

{% endfor %}
    <div class="col-lg-12">
    <div class="alert-msg" style="text-align: left;"></div>
    <button type="submit" class="primary-btn text-uppercase"> Göndər </a> </button>
</div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </section>
    
    </div>
    
    

    {% endblock %}
