

{% extends "base.html" %}


{% load static %}
   




{% block content %}






<div>


    <div class="_edge_bottom">
        <div>
            <h1>İşgüzar Yazarları</h1>
            <p>İşgüzar'da məqalə yazan edən komanda ilə tanış olun.</p>
        </div>
    </div>

    <main id="_wrapper">
        <div class="_row">

            {% for i in user %}
            
            
            <div class="_card">
                <div>
                    <a href="#">
                        <img src="{{i.image.url}}" alt="Author 1">

                    </a>
                    <div class="_card_body">
                        <a href="{{i.get_absolute_url}}">
                            <h5>{{i.name_surname}}</h5>
                        </a>
                        <span>{{i.work}}</span>
                        <div class="_card_links">
                            {% if i.linkedin %}
                            <a href="{{i.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                            {% endif %}

                            {% if i.twitter %}
                            <a href="{{i.twitter}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            {% endif %}

                            {% if i.facebook %}
                            <a href="{{i.facebook}}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>

        <nav aria-label="Page navigation example" >
            <ul class="pagination justify-content-center" >
                <li class="page-item ">
                  {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a>
                {% endif %}
            </li>
        
              <li class="page-item"><span class="page-link" >{{ page_obj.number }}</span></li>
              <span style="margin-right: 7px; margin-left: 7px; margin-top: 5px;">of</span>
              <li class="page-item"><span class="page-link" >{{ page_obj.paginator.num_pages }}</span></li> 
              <li class="page-item">
                {% if page_obj.has_next %}
        
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
        
              </li>
            </ul>
          </nav>
    </main>

</div>















{% endblock %}