

{% extends "base.html" %}


{% load static %}
   




{% block content %}






<div>


    <div class="_edge_bottom">
        <div>
            <h1>İşgüzar Yazarları</h1>
            <p>İşgüzar'da məqalə yazan edən komanda ilə tanış olun.</p>
        </div>
    </div>

    <main id="_wrapper">
        <div class="_row">

            {% for i in user %}
            
            
            <div class="_card">
                <div>
                    <a href="#">
                        <img src="{{i.image.url}}" alt="Author 1">

                    </a>
                    <div class="_card_body">
                        <a href="{{i.get_absolute_url}}">
                            <h5>{{i.name_surname}}</h5>
                        </a>
                        <span>{{i.work}}</span>
                        <div class="_card_links">
                            {% if i.linkedin %}
                            <a href="{{i.linkedin}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                            {% endif %}

                            {% if i.twitter %}
                            <a href="{{i.twitter}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            {% endif %}

                            {% if i.facebook %}
                            <a href="{{i.facebook}}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}


        </div>
    </main>

</div>















{% endblock %}