

{% extends "base.html" %}


{% load static %}
   




{% block content %}

<div class="site-main-container">

    
    <section class="top-post-area pt-10">
    <div class="container no-padding">
    <div class="row">
    <div class="col-lg-12">
    <div class="hero-nav-area">
    <h1 class="text-white">Kariyera Mərkəzi Ətraflı</h1>
    <p class="text-white link-nav"><a href="">Ana səhifə </a> <i class="fa-solid fa-angle-right"></i><a href="">Kariyera Mərkəzi </a><i class="fa-solid fa-angle-right"></i><a href=""> Kariyera mərkəzi ətraflı </a></p>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="news-tracker-wrap">
    <h6><span>Breaking News:</span> <a href="">Kariyera mərkəzi ətraflı</a></h6>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="latest-post-area pb-120">
    <div class="container no-padding">

        
        
        <div class="row">
            <div class=" post-list">
                
                <div class="single-post-wrap">
                    <div class="row feature-img-thumb relative">
                        <!-- <div class="overlay overlay-bg"></div> -->
                        <img style="height: 130px; width: 600px;"  class="col-lg-3 img-fluid" src="{{ career_center.logo.url }}" alt="" data-pagespeed-url-hash="3036699310" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        
                        <div class="ml-3">
                            <h3 >{{ career_center.title }}</h3>
                            
                            

            <div class="mt-4" style="display: block;">

           <h4 class="mr-2" style="display: inline-block;">{{ career_center.company }}:</h4> 
           <h5 style="display: inline-block; font-family: 'Hind Siliguri', sans-serif;">{{ career_center.mail }}</h5>
            </div>
            <span> {{ career_center.adress }} </span>
        <ul class="meta ">
            <li><a href=""><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{ career_center.created_at }}</a></li>
            <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i></i>{{career_center.views}}</a></li>
        
            </ul>
        </div>
    </div>
    
    <div class="content-wrap">
    <!-- <ul class="tags mt-10">
    <li><a href="https://preview.colorlib.com/theme/magazine/image-post.html#">Food Habit</a></li>
    </ul> -->
   
    <h3 class="mb-4">İstənilən Xüsusiyyətlər</h3>
    
    <ul class="a">
        {% for i in desired_features %}
        <li class="mb-2">
        {{ i.desired_features }}
        </li>

        {% endfor %}
    </ul>

    
    
    
    
    
</div>
</div>
</div>    
</div>
</div>



    </section>

    <div class="container">
    <h1 class="mb-4" >Oxşar elanlar</h1>

    <div class="container">
        <div class="row">
    
                {% for i in career_center_related %}
                <div class="col-md-3 ">
                    <div class="card bg-c-blue order-card">
                        <img style="height: 130px;" src="{{ i.logo.url }}" alt="">
                    <!-- <div class="card-block">
                        <h6 class="m-b-20 order-card">{{ i.tittle }}</h6>
                        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                        <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                    </div> -->
               </div>
               
            <a href="{{ i.get_absolute_url }}">   <h5 style="font-family: 'Roboto Mono', monospace;">{{ i.title }}</h5> </a>
               <p style="text-align: center;">{{ i.company }}</p>
    
            </div>
            
            {% endfor %}
    
            
        </div>

    </div>  





    </div>


    </div>




{% endblock %}