
  
{% extends "base.html" %}


{% load static %}
   




{% block content %}






<div class="site-main-container">

<section class="top-post-area pt-10">
<div class="container no-padding">
<div class="row small-gutters">

    




{% for i in news1 %}

<div class="col-lg-8 top-post-left" style="margin-top: 1px;">



<div class="feature-image-thumb relative">
<div class="overlay overlay-bg"></div>
<img style="max-width: 1000px; height: 505px;  " class="img-fluid image1" src="{{ i.image.url }}" alt="" data-pagespeed-url-hash="4222329640" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="top-post-details">
<ul class="tags">
<li style="font-size: 19px;"><a href="#">{{ i.tags }}</a></li>
</ul>
<a href="{{i.get_absolute_url}}">
<h3>{{i.title}}</h3>
</a>
<ul class="meta">
    <li class="w3-large"><a href="#"><i style="margin-right: 6px;" class=" fa-solid fa-calendar-days"></i>{{ i.created_at }}</a></li>
    <li class="w3-large"><a href="#"><i style="margin-right: 6px;" class=" fa-solid fa-hourglass"></i> {{i.time}} dəqiqəlik xəbər </a></li>
    </ul>   
</div>



</div>


{% endfor %}



<div class="col-lg-4 top-post-right" style="margin-top: -10px; ">


{% for i in news2 %}


<div class="single-top-post mt-10" >
    <div class="feature-image-thumb relative">
    <div class="overlay overlay-bg"></div>
    <img class="img-fluid" src="{{ i.image.url }}" alt="" data-pagespeed-url-hash="516362186" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="top-post-details">
    <ul class="tags">
    <li style="font-size: 19px;" ><a href="#">{{ i.tags }}</a></li>
    </ul>
    <a href="{{i.get_absolute_url}}">
    <h4  >{{ i.title }} </h4>
    </a>
    <ul class="meta">
        <!-- <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i>{{ i.views }}</a></li> -->
        <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{ i.created_at }}</a></li>
        <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{i.time}} dəqiqəlik xəbər </a></li>
        </ul>
    </div>
    </div>


{% endfor %}



{% for i in news3 %}

<div class="single-top-post mt-10" >
<div class="feature-image-thumb relative">
<div class="overlay overlay-bg"></div>
<img class="img-fluid" src="{{ i.image.url }}" alt="" data-pagespeed-url-hash="516362186" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="top-post-details">
<ul class="tags">
<li style="font-size: 19px;"><a href="#">{{ i.tags }}</a></li>
</ul>
<a href="{{i.get_absolute_url}}">
<h4>{{ i.title}} </h4>
</a>
<ul class="meta">
<!-- <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i>{{ i.views }}</a></li> -->
<li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{ i.created_at }}</a></li>
<li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{i.time}} dəqiqəlik xəbər </a></li>
</ul>
</div>
</div>

{% endfor %}




</div> 









<div class="col-lg-12">
<div class="news-tracker-wrap">
<h6><span style="color: black; font-size: 16px;">Daha çox xəbər üçün</span> <a href="/news" style="color: red; font-size: 16px;">bura tıklayın</a></h6>
</div>
</div>

</div>



</div>
</section>


<section class="latest-post-area pb-120">
<div class="container no-padding">
<div class="row">
<div class="col-lg-8 post-list">

    
    <div class="latest-post-wrap">
        <h4 class="cat-title">Son Məqalələr</h4>
        
        {% for i in article  %}

<div class="single-latest-post row align-items-center">
<div class="col-lg-5 post-left">
<div class="feature-img relative">
<div class="overlay overlay-bg"></div>
<img class="img-fluid" src="{{i.image.url}}" alt="" data-pagespeed-url-hash="2585403232" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<ul class="tags">
<li><a href="#">{{ i.tags }}</a></li>
</ul>
</div>
<div class="col-lg-7 post-right">
<a href="{{i.get_absolute_url}}">
<h4 style="color: black;">{{i.title|truncatechars:47 }}</h4>
</a>
<ul class="meta">
<li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{i.owner}}</a></li>
<li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{i.created_at}}</a></li>
<!-- <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i></i>{{i.views}}</a></li> -->
<li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{i.time}} dəqiqəlik məqalə </a></li>
</ul>
<p style="font-size: 18px;" class="excert">
{{i.descrtiption|safe|truncatechars:190}}
</p>
</div>
</div>

{% endfor %}

<div class="col-lg-12" style="margin-top: 15px;">
    <div class="news-tracker-wrap">
    <h6><span style="color: black; font-size: 16px;">Daha çox məqalə üçün</span> <a href="/article" style="color: red; font-size: 16px;">bura tıklayın</a></h6>
    </div>
    </div>

</div>







<div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
<img class="img-fluid" src="../static/images/1.png" alt="" data-pagespeed-url-hash="2063517639" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>


<div class="popular-post-wrap">
<h4 class="title">Ən Çox Oxunan Məqalələr</h4>

{% for item in popular_list1 %}

<div class="feature-post relative">
<div class="feature-img relative">
<div class="overlay overlay-bg"></div>
<img class="img-fluid" src="{{ item.image.url }}" alt="" data-pagespeed-url-hash="3036699310" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="details">
<ul class="tags">
<li><a href="#">{{ item.tags }}</a></li>
</ul>
<a href="{{item.get_absolute_url}}">
<h3>{{ item.title }}</h3>
</a>
<ul class="meta">
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{item.owner}}</a></li>
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{item.created_at}}</a></li>
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{item.time}} dəqiqəlik məqalə </a></li>
    <!-- <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i></i>{{item.views}}</a></li> -->
    </ul>
</div>
</div>

{% endfor %}




<div class="row mt-20 medium-gutters">
    {% for item in popular_list2 %}

  

<div  class="col-lg-6 single-popular-post">
<div class="feature-img-wrap relative">
<div class="feature-img relative">
<div class="overlay overlay-bg"></div>
<img style="height: 200px;" class="img-fluid" src="{{ item.image.url }}" alt="" data-pagespeed-url-hash="3331199231" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<ul class="tags">
<li><a href="#">{{ item.tags }}</a></li>
</ul>
</div>
<div class="details">
<a style="max-width: 50px !important;" href="{{item.get_absolute_url}}">
<h4 style="color: black;" >{{ item.title }}</h4>
</a>
<ul class="meta">
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{item.owner}}</a></li>
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{item.created_at}}</a></li>
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{item.time}} dəqiqəlik məqalə </a></li>
    <!-- <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-eye"></i></i>{{item.views}}</a></li> -->
    </ul>
<p class="excert">
{{item.descrtiption|safe|truncatechars:150}}
</p>
</div>


</div>


{% endfor %}



{% for item in popular_list3 %}


<div class="col-lg-6 single-popular-post">
<div class="feature-img-wrap relative">
<div class="feature-img relative">
<div class="overlay overlay-bg"></div>
<img style="height: 200px;" class="img-fluid" src="{{ item.image.url }}" alt="" data-pagespeed-url-hash="3625699152" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<ul class="tags">
<li><a href="">{{ item.tags }}</a></li>
</ul>
</div>
<div class="details">
<a href="{{item.get_absolute_url}}">
<h4 style="color: black;" >{{ item.title  }}</h4>
</a>
<ul class="meta">
    <li><a href=""><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{item.owner}}</a></li>
    <li><a href=""><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i>{{ item.created_at }}</a></li>
    <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-hourglass"></i> {{item.time}} dəqiqəlik məqalə </a></li>
    </ul>
<p class="excert">
    {{item.descrtiption|safe|truncatechars:150}}</p>
</div>


</div>


<div class="col-lg-12" style="margin-top: 15px;">
    <div class="news-tracker-wrap">
    <h6><span style="color: black; font-size: 16px;">Daha çox popular məqalə üçün</span> <a href="/popular_article" style="color: red; font-size: 16px;">bura tıklayın</a></h6>
    </div>
    </div>

    
{% endfor %}





</div>

</div>










<div class="relavent-story-post-wrap mt-30">
<h4 class="title">Karyera Mərkəzi</h4>





<div class="container">
    <div class="row">

            {% for i in career_center_home %}
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <img style="height: 100px;" src="{{ i.logo.url }}" alt="">
                <!-- <div class="card-block">
                    <h6 class="m-b-20 order-card">{{ i.tittle }}</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div> -->
           </div>

            <a href="{{ i.get_absolute_url }}"> <h5 style="font-family: 'Roboto Mono', monospace;">{{ i.title }}</h5></a>
           <p style="text-align: center;">{{ i.company }}</p>

        </div>
        
        {% endfor %}

        <div class="col-lg-12" style="margin-top: 15px;">
            <div class="news-tracker-wrap">
                <hr>
            <h6><span style="color: black; font-size: 16px; ">Daha çox iş elanı üçün</span> <a href="/career_center" style="color: red; font-size: 16px;">bura tıklayın</a></h6>
            </div>
            </div>

	</div>
</div>

</div>

</div>

{% include "./includes/right_part.html"%} 



</div>
</div>
</section>

</div>




{% endblock %}
