{% extends "base.html" %}


{% load static %}
   




{% block content %}






<div class="site-main-container">

    <section class="top-post-area pt-10">
    <div class="container no-padding">
    <div class="row">
    <div class="col-lg-12">
    <div class="hero-nav-area">
    <h1 class="text-white">Axtarış</h1>
    
    <p class="text-white link-nav"><a href="/home">Ana səhifə </a> <i class="fa-solid fa-angle-right"></i><a href="">Axtarış </a></p>
    </div>
    </div>
    <div class="col-lg-12">
    <div class="news-tracker-wrap">
    <h6><span>Işgüzarda axtarış</span> <a href="#"></a></h6>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="latest-post-area pb-120">
    <div class="container no-padding">
    <div class="row">
    <div class="col-lg-8 post-list">
    



    <div class="latest-post-wrap">
    <h4 class="cat-title">Işgüzarda axtarış</h4>



    <form action="{% url 'searchbar' %}" method="GET" class="form-inline" style="margin-top:15px">
        

        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Search</label>
          <input type="text" name="search" class="form-control" id="inputPassword2" placeholder="Axtarış">
        </div>

        <button type="submit" class="btn btn-primary mb-2">Axtar</button>


      </form>


      
      <div class="single-latest-post row align-items-center">
    {% if post %}
{{error}}


{%  for i in post %}
<div class="col-lg-5 post-left" style="margin-bottom: 15px;">
    <div class="feature-img relative">
    <div class="overlay overlay-bg"></div>
    <img class="img-fluid" src=" {{ i.image.url }}   " alt="" data-pagespeed-url-hash="2585403232" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <ul class="tags">
    <li><a href="#">{{i.tags}}</a></li>
    </ul>
    </div>


    <div class="col-lg-7 post-right">
    <a href="/news_detail/{{i.slug}}">
    <h4> {{i.title|truncatechars:40 }} </h4>
    </a>
    <ul class="meta">
        <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-user"></i>{{i.owner}}</a></li>
        <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-calendar-days"></i> {{i.created_at}}    </a></li>
        <li><a href="#"><i style="margin-right: 6px;" class="fa-solid fa-comment"></i>06 Comments</a></li>
        </ul> 
    <p class="excert">
        {{i.descrtiption|truncatechars:150|safe}}
    </p>
    </div>
    {% endfor %}

    {% else %}


    
    <h4 style="margin-left: 30px;" >  Təəssüf ki tapılmadı...  </h4>
    {% endif %}
    
    
    
</div>












    </div>
    
    </div>


    {% include "./includes/right_part.html"%} 
    
    </div>
    </div>
    </section>
    
    </div>
    
    

    {% endblock %}